<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="first.css">
<nav class="navbar shadow-sm navbar-transparent navbar-expand-lg navbar-relative" style="border-bottom: 0.5px;  padding-bottom: -50px; margin-top: -10px; z-index: 1;">
  <a class="navbar-brand" href="/">
    <img src="https://i.imgur.com/FiAyjEj.png" width="100" height="40" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <u1 class="navbar-nav m1-auto">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{{url_for('allteams_page')}}">Teams</a>
      <a class="nav-item nav-link" href="{{url_for('allplayer_page')}}">Players</a>
   </u1>
    </div>
  </div>
</nav>

<br><br> 
<br><br> 
<div class="container">
  <div class="row">
    <div class="col-sm">
      <center><img src="https://i.imgur.com/FiAyjEj.png" style="width:900px;height:375px;"  /></a></center>
    </div>
  </div>
</div>

<!-- <center>
<div class="input-group mb-3" style = "width:50%">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1" style = "border-top-left-radius: 30px; border-bottom-left-radius:30px;" ><i class="fa fa-search"></i></span>
  </div>
  <input type="text" class="form-control" placeholder="Search"  style="width: 50%; border-top-right-radius: 30px; border-bottom-right-radius:30px; 
  border: solid space#e3e3e3 1px;">
</div>
</center> -->

<center>
{% from "_formhelpers.html" import render_field %}
<form method="post" >
{{ render_field(form.search, class="form-control") }}
  <p><input type="submit" value="Search" class="btn" style="background: rgb(244, 244, 244); color: rgb(95, 99, 104); font-weight: 500; font-size: 18px; border-radius: 7px; margin-top: 30px;" >
</p></form>
</doctype>
</center>

<style>
.nav-link{
  color: #484848;
  font-size: 16px;
  margin-top: 11px;
  padding-bottom: 15px;
  margin-bottom: -5px;
  height: 100%;
  font-weight: 600;
  display: block;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-link:hover {
  color: #484848;
  border-bottom: 2px solid #FA8320;
}

.navbar-brand{
  color: #484848;
  font-size: 20px;
  margin-top: 5px;
  padding-bottom: 10px;
  margin-bottom: -15px;
  height: 100%;
  font-weight: 600;
  display: block;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-brand:hover {
  color: #484848;
  border-bottom: 2px solid #FA8320;
}


    .form-control{
        width: 100%;
    }
</style>