.nav-link{
    color: #484848;
    font-size: 13px;
    margin-top: 11px;
    padding-bottom: 10px;
    height: 100%;
    font-weight: 600;
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    margin-left: 10px;
    margin-right: 10px;
  }

  .nav-link:hover {
    border-bottom: 2px solid #34b14f;
  }