<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">NBA Stats</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Teams</a>
      <a class="nav-item nav-link" href="/">Players</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <center><img src="https://i.imgur.com/LByYUAX.png" style="width:500px;height:500px;"  /></a></center>
    </div>
  </div>
</div>


<div class ="row">
  <div class="col">
    <center>
      <form>
        <input type="text" class="form-control shadow-sm" placeholder="Search" style="width: 50%; border-top-right-radius: 30px; border-bottom-right-radius:30px; border-top-left-radius: 30px; border-bottom-left-radius:30px; border: solid space#e3e3e3 1px;">
      </form>
    </center>
  </div>
</div>